<!doctype html>
<html>
    <head>
        <!-- mobile app parameters, don't know if they work on heroku -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" sizes="196x196" href="images/icon.png" />
        <link rel="apple-touch-icon-precomposed" href="images/icon.png" />               
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>