{% extends 'base.html' %}

{% block head %}
<title>Admin</title>
{% endblock %}

{% block body %}
<div class="content" align="center">
    <h1 style="text-align: center">Admin</h1>

    <hr>

    <!-- display tables -->

    <h4 id="client">Client Table</h4>
    <p>Entries: {{ clients|length }}</p>    
    <table>
        <tr>            
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Info</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>
                    {{ client.id }}
                </td>
                <td>
                    {{ client.fname }}
                </td>
                <td>
                    {{ client.lname }}
                </td>
                <td>
                    {{ client.dob }}
                </td>
                <td>
                    {{ client.address }}
                </td>
                <td>
                    {{ client.phone }}
                </td>
                <td>
                    {{ client.info }}
                </td>
                <td>
                    <a href="/admin/delete-client/{{ client.id }}">Delete</a>
                    <br>
                    <a href="/admin/update-client/{{ client.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-client" method="POST">
                <td><!-- id --></td>
                <td>
                    <input type="text" name="fname" id="fname">
                </td>
                <td>
                    <input type="text" name="lname" id="lname">
                </td>
                <td>
                    <input type="text" name="dob" id="dob">
                </td>
                <td>
                    <input type="text" name="address" id="address">
                </td>
                <td>
                    <input type="text" name="phone" id="phone">
                </td>
                <td>
                    <input type="text" name="info" id="info">
                </td>
                <td>
                    <input type="submit" value="Add Client">
                </td>
            </form>
        </tr>
    </table>

    <hr>
    <h4 id="client_interest">Client Interest Table</h4>
    <p>Entries: {{ client_interests|length }}</p>
    <table>
        <tr>            
            <th>Client ID</th>
            <th>Interest Number</th>
            <th>Interest Text</th>            
        </tr>
        {% for client_interest in client_interests %}
            <tr>
                <td>
                    {{ client_interest.client_id }}
                </td>
                <td>
                    {{ client_interest.interest_num }}
                </td>
                <td>
                    {{ client_interest.interest_text }}
                </td>
                <td>
                    <a href="/admin/delete-client_interest/{{ client_interest.client_id }}-{{ client_interest.interest_num }}">Delete</a>
                    <br>
                    <a href="/admin/update-client_interest/{{ client_interest.client_id }}-{{ client_interest.interest_num }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-client_interest" method="POST">
                <td>
                    <input type="text" name="client_id" id="client_id">
                </td>
                <td>
                    <input type="text" name="interest_num" id="interest_num">
                </td>
                <td>
                    <input type="text" name="interest_text" id="interest_text">
                </td>                
                <td>
                    <input type="submit" value="Add Client Interest">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="client_goal">Client Goal Table</h4>
    <p>Entries: {{ client_goals|length }}</p>
    <table>
        <tr>            
            <th>Client ID</th>
            <th>Goal Number</th>
            <th>Goal Text</th>
        </tr>
        {% for client_goal in client_goals %}
            <tr>
                <td>
                    {{ client_goal.client_id }}
                </td>
                <td>
                    {{ client_goal.goal_num }}
                </td>
                <td>
                    {{ client_goal.goal_text }}
                </td>
                <td>
                    <a href="/admin/delete-client_goal/{{ client_goal.client_id }}-{{ client_goal.goal_num}}">Delete</a>
                    <br>
                    <a href="/admin/update-client_goal/{{ client_goal.client_id }}-{{ client_goal.goal_num }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-client_goal" method="POST">
                <td>
                    <input type="text" name="client_id" id="client_id">
                </td>
                <td>
                    <input type="text" name="goal_num" id="goal_num">
                </td>
                <td>
                    <input type="text" name="goal_text" id="goal_text">
                </td>                
                <td>
                    <input type="submit" value="Add Client Goal">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="special_need">Special Need Table</h4>
    <p>Entries: {{ special_needs|length }}</p>
    <table>
        <tr>            
            <th>ID</th>
            <th>Special Need Name</th>            
        </tr>
        {% for special_need in special_needs %}
            <tr>
                <td>
                    {{ special_need.id }}
                </td>
                <td>
                    {{ special_need.sn_name }}
                </td>
                <td>
                    <a href="/admin/delete-special_need/{{ special_need.id }}">Delete</a>
                    <br>
                    <a href="/admin/update-special_need/{{ special_need.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-special_need" method="POST">
                <td><!-- id --></td>
                <td>
                    <input type="text" name="sn_name" id="sn_name">
                </td>             
                <td>
                    <input type="submit" value="Add Special Need">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="client_special_need">Client Special Need Table</h4>
    <p>Entries: {{ client_special_needs|length }}</p>
    <table>
        <tr>            
            <th>Client ID</th>
            <th>Special Need ID</th>            
        </tr>
        {% for client_special_need in client_special_needs %}
            <tr>
                <td>
                    {{ client_special_need.client_id }}
                </td>
                <td>
                    {{ client_special_need.sn_id }}
                </td>
                <td>
                    <a href="/admin/delete-client_special_need/{{ client_special_need.client_id }}-{{ client_special_need.sn_id }}">Delete</a>
                    <br>
                    <a href="/admin/update-client_special_need/{{ client_special_need.client_id }}-{{ client_special_need.sn_id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-client_special_need" method="POST">
                <td>
                    <input type="text" name="client_id" id="client_id">
                </td>             
                <td>
                    <input type="text" name="sn_id" id="sn_id">
                </td>
                <td>
                    <input type="submit" value="Add Special Need">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="roster">Roster Table</h4>
    <p>Entries: {{ rosters|length }}</p>
    <table>
        <tr>            
            <th>ID</th>
            <th>Carer ID</th>
            <th>Client ID</th>
            <th>Start</th>
            <th>Finish</th>            
        </tr>
        {% for roster in rosters %}
            <tr>
                <td>
                    {{ roster.id }}
                </td>
                <td>
                    {{ roster.carer_id }}
                </td>
                <td>
                    {{ roster.client_id }}
                </td>
                <td>
                    {{ roster.start }}
                </td>
                <td>
                    {{ roster.finish }}
                </td>                
                <td>
                    <a href="/admin/delete-roster/{{ roster.id }}">Delete</a>
                    <br>
                    <a href="/admin/update-roster/{{ roster.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-roster" method="POST">
                <td><!-- id --></td>
                <td>
                    <input type="text" name="carer_id" id="carer_id">
                </td>
                <td>
                    <input type="text" name="client_id" id="client_id">
                </td>
                <td>
                    <input type="text" name="start" id="start">
                </td>
                <td>
                    <input type="text" name="finish" id="finish">
                </td>                
                <td>
                    <input type="submit" value="Add Roster">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="task">Task Table</h4>
    <p>Entries: {{ tasks|length }}</p>
    <table>
        <tr>            
            <th>ID</th>
            <th>Roster ID</th>
            <th>Description</th>
            <th>Essential</th>
            <th>Completed</th>            
        </tr>
        {% for task in tasks %}
            <tr>
                <td>
                    {{ task.id }}
                </td>
                <td>
                    {{ task.roster_id }}
                </td>
                <td>
                    {{ task.description }}
                </td>
                <td>
                    {{ task.essential }}
                </td>
                <td>
                    {{ task.completed }}
                </td>                
                <td>
                    <a href="/admin/delete-task/{{ task.id }}">Delete</a>
                    <br>
                    <a href="/admin/update-task/{{ task.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-task" method="POST">
                <td><!-- id --></td>
                <td>
                    <input type="text" name="roster_id" id="roster_id">
                </td>
                <td>
                    <input type="text" name="description" id="description">
                </td>
                <td>
                    <input type="text" name="essential" id="essential">
                </td>
                <td>
                    <input type="text" name="completed" id="completed">
                </td>                
                <td>
                    <input type="submit" value="Add Task">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="appointment">Appointment Table</h4>
    <p>Entries: {{ appointments|length }}</p>
    <table>
        <tr>            
            <th>ID</th>
            <th>Client ID</th>
            <th>When</th>
            <th>Who</th>
            <th>Description</th>            
        </tr>
        {% for appointment in appointments %}
            <tr>
                <td>
                    {{ appointment.id }}
                </td>
                <td>
                    {{ appointment.client_id }}
                </td>
                <td>
                    {{ appointment.when }}
                </td>
                <td>
                    {{ appointment.who }}
                </td>
                <td>
                    {{ appointment.description }}
                </td>                
                <td>
                    <a href="/admin/delete-appointment/{{ appointment.id }}">Delete</a>
                    <br>
                    <a href="/admin/update-appointment/{{ appointment.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-appointment" method="POST">
                <td><!-- id --></td>
                <td>
                    <input type="text" name="client_id" id="client_id">
                </td>
                <td>
                    <input type="text" name="when" id="when">
                </td>
                <td>
                    <input type="text" name="who" id="who">
                </td>
                <td>
                    <input type="text" name="description" id="description">
                </td>
                <td>
                    <input type="submit" value="Add Appointment">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="contact">Contact Table</h4>
    <p>Entries: {{ contacts|length }}</p>
    <table>
        <tr>            
            <th>ID</th>
            <th>Client ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Primary</th>            
        </tr>
        {% for contact in contacts %}
            <tr>
                <td>
                    {{ contact.id }}
                </td>
                <td>
                    {{ contact.client_id }}
                </td>
                <td>
                    {{ contact.name }}
                </td>
                <td>
                    {{ contact.phone }}
                </td>
                <td>
                    {{ contact.primary }}
                </td>                
                <td>
                    <a href="/admin/delete-contact/{{ contact.id }}">Delete</a>
                    <br>
                    <a href="/admin/update-contact/{{ contact.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-contact" method="POST">
                <td><!-- id --></td>
                <td>
                    <input type="text" name="client_id" id="client_id">
                </td>
                <td>
                    <input type="text" name="name" id="name">
                </td>
                <td>
                    <input type="text" name="phone" id="phone">
                </td>
                <td>
                    <input type="text" name="primary" id="primary">
                </td>
                <td>
                    <input type="submit" value="Add Contact">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <h4 id="communication">Communication Table</h4>
    <p>Entries: {{ commincations|length }}</p>
    <table>
        <tr>            
            <th>ID</th>
            <th>Client ID</th>
            <th>Carer ID</th>
            <th>When</th>
            <th>Message</th>            
        </tr>
        {% for communication in communications %}
            <tr>
                <td>
                    {{ communication.id }}
                </td>
                <td>
                    {{ communication.client_id }}
                </td>
                <td>
                    {{ communication.carer_id }}
                </td>
                <td>
                    {{ communication.when }}
                </td>
                <td>
                    {{ communication.message }}
                </td>                
                <td>
                    <a href="/admin/delete-communication/{{ communication.id }}">Delete</a>
                    <br>
                    <a href="/admin/update-communication/{{ communication.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}   
        <tr>
            <form action="/admin/add-communication" method="POST">
                <td><!-- id --></td>
                <td>
                    <input type="text" name="client_id" id="client_id">
                </td>
                <td>
                    <input type="text" name="carer_id" id="carer_id">
                </td>
                <td>
                    <input type="text" name="when" id="when">
                </td>
                <td>
                    <input type="text" name="message" id="message">
                </td>
                <td>
                    <input type="submit" value="Add Communication">
                </td>
            </form>
        </tr>
    </table>

    <hr>

    <p align=center>
        <a href="/admin/create_tables">Create tables</a>
    </p>
</div>
{% endblock %}