{% extends 'base.html' %}

{% block body%}
<p>Client View</p>
<div>
    <table>
        <tr>
            <th>Carer Name</th>
            <th>Shift time</th>
            <th>Photo</th>
        </tr>
        <tr>
            <td><a href="carer-view/Alice-1000">Alice</a></td>
            <td>10:00am - 2:00pm</td>
            <td>[I'm a photo]</td>
        </tr>
        <tr>
            <td><a href="carer-view/Bob-1400">Bob</a></td>
            <td>2:00pm - 7:00pm</td>
            <td>[I'm a photo]</td>
        </tr>
    </table>
</div>
{% endblock %}